/**************************Custom Properties**********************/
:root {
    --firt-color: #bee440;
    --white: #ffffff;
    --second-color: #1cb5f7;
    --red-color: #f54b4b;
    --black: #000;
    --font: "roboto";
    --max-width: 100%;
    --header-height: 4rem;
    --max-width: 1200px;
    --header-height: 6rem;
}

/******************************* Reset **************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

*,
*::after,
*::before { box-sizing: inherit; }

html { font-size: 62.5%; }

body {
    overflow-x: hidden;
    color:var(--black);
    width: 100%;
}

a {
    color:var(--white);
    transition: all 0.5s ease-out;
}

h1 { margin: 0; font-size: 2.5rem; font-weight: normal; text-shadow: 1px 2px 40px var(--black); text-align: center;}
h2 { margin: 0; font-size: 1.5rem; }
h3 { margin: 0; font-size: 1.25rem; }
h4 { margin: 0; font-size: 1rem; }
h5 { margin: 0; font-size: 0.85rem; }
h6 { margin: 0; font-size: 0.7rem; }

/*************************** Utilities ************************************/
/*************************** componentes ************************************/
.menu-btn {
    background-color: var(--second-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.menu-btn svg {
    fill: var(--white);
    width: 40px;
    height: 40px;
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: var(--second-color);
    pointer-events: none;
    transition: opacity .5s ease;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white)
}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu a:hover {
    background-color: var(--red-color);

}

.live-button {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.none {
    display: none;
}
/*************************** menu ************************************/

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo a img {
    width: 50px;
    height: 50px;
}

/************** HeroImage ************/

.hero-image{
    width: 100%;
    min-height: 100vh;
    min-width: 200px;
    background-image: url('../assets/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/******************** welcome ********************/

.welcome {
    width: 100%;
    height: auto;
}

.welcome-container{
    width: 100%;
    min-width: 200px;
    height: auto;
    background-color: var(--firt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0 40px 0;
}

.welcome-video-container, .welcome-message {
    width: 50%;
    min-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    flex-direction: column;
    margin: 40px 0 40px 0;
}

.welcome-message h2 {
    font-weight: 300;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.welcome-video {
    min-width: 200px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 0 50px 0 50px;
}

/*************************** schedule ************************************/

.schedule-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 60px 0;
    background: linear-gradient(180deg, rgba(28, 181, 247, 0.56) 0%, rgba(28, 181, 247, 0.12) 13.54%, rgba(28, 181, 247, 0) 52.6%, rgba(28, 181, 247, 0.12) 86.98%, rgba(28, 181, 247, 0.56) 100%);
}

.principal-schedule {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.schedule-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-title h3 {
    font-weight: 900;
    color:var(--second-color);
    font-size: 2.5rem;
    padding-bottom: 40px;
}

.servicios {
    min-width: 200px;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.servicios h4, .servicios p {
    padding-bottom: 30px;
    font-size: 400;
    font-size: 1.5rem;
}

/*************************** preach ************************************/

.preach-container {
    width: 100%;
    height: auto;
    padding: 70px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-preach h3 {
    font-weight: 900;
    color:var(--firt-color);
    font-size: 2.5rem;
    padding-bottom: 60px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.preach-videos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
    flex-wrap: wrap;
    z-index: -300;
}

.preach-videos iframe {
    padding: 70px 30px 70px 30px;
    min-width: 200px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    outline: none;
}

.preach-container button {
    background-color:var(--second-color);
    color: var(--white);
    outline: none;
    border: none;
    width: 135px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.preach-container button:hover {
    background-color:var(--firt-color);
    color: black;
}

/*************************** information *******************************/

.information-container {
    width: 100%;
    height: auto;
    background-image: url('../assets/background-information.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.information-container h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    padding: 80px 40px 0 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.information-container p {
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 50px
}


.map-container, .map-container iframe {
    width: 100%;
    height: 400px;
}

/*************************** contact me *******************************/
.container-contact {
    width: 100%;
    height: auto;
    background-color: var(--second-color);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact-cards {
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin: 50px 30px 50px 30px;
    background-color: var(--firt-color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-cards a img{
    width: 100px;
    height: 100px;
}

.contact-cards h5{
    font-size: 1.2rem;
}

footer {
    margin-bottom: var(--header-height);
    width: 100%;
    height: 34px;
    color: var(--black);
    text-align: center;
    padding-top: 20px;
    background-color: var(--firt-color);
    font-weight: bold;
    font-size: 1.1rem;
}